
*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans'
  
  
}

.about{
  background-image: url("./olivegarden.jpg");
  max-width: 1000px;
  min-height: 100vh;
  margin: 20px auto;
  border-radius: 20px;
  padding: 30px;
}

h1{
text-align: center;
color: aliceblue;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
  text-align:center;
  color:aliceblue
}

h3{
  text-align: center;
  color: rgb(232, 242, 250)
}

.dishes{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.menu{
  width: 300px;
  background-color: rgba(36, 209, 169, 0.432);
  margin: 20px;
  border-radius: 10px;
  padding-bottom: 20px;
}

.menu-image{
  width: 100%;
}
.menu-body{
  padding: 30px;
  text-align: center;
  
}

.category{
  color:rgb(230, 236, 241)
}

a{
  color:rgb(226, 11, 11)
}

.searchbox{
  align-items: center;
  text-align: center;
}